<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <title> Hello</title>
    <body>
        <form>
            <input type="text" id="input-field" placeholder="Enter your input">
            <button type="submit">Submit</button>
          </form>
      
    </body>
    <script>
        const inputField = document.getElementById('input-field');
        const submitButton = document.querySelector('button[type="submit"]');

        submitButton.addEventListener('click', (e) => {
        e.preventDefault(); // prevent default form submission
        const inputValue = inputField.value.trim();
        const baseUrl = 'http://127.0.0.1:8000/introduction/measurer/'; // base URL
        const redirectUrl = `${baseUrl}${inputValue}`; // construct redirect URL
        window.location.href = redirectUrl;
        });
    </script>
</body>
</html>